aiohttp
apscheduler
asgiref
awscrt
blinker
Brotli
brotlicffi
certifi
colorama
cryptography
docutils
ffmpeg
ffmpeg_python
gdown
groq
h2
idna
importlib_metadata
js
langchain
langchain_core
langchain_groq
langchain_openai
librosa
matplotlib
mediapipe
moviepy==1.0.3
numpy
openai
opencv_contrib_python
opencv_python
opencv_python_headless
pandas
pydub
boto3
pyOpenSSL
python-dotenv
PyYAML
quart
reportlab
setuptools
Sphinx
tenacity
tensorflow
tensorflow_intel
torch
tqdm
transformers
typing_extensions
watchdog
zstandard
